<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="5.79.80.204,9393_DATAG_Connection" connectionString="XpoProvider=MSSqlServer;data source=5.79.80.204,9393;user id=nebos;password=q1w2e3r4!;initial catalog=DATAG;Persist Security Info=true"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>



